.DS_Store
__pycache__/
*.pyc
*.aux
*.log
*.out
*.toc
*.xdv
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
runs/**/.tmp_downloads/
runs/**/*.webm
runs/cs224r_spring2025/build/cs224r_complete_notes.pdf
runs/s294_277_fall2024_robots_that_learn_textbook/materials/shared/course_notes.pdf
runs/s294_277_fall2024_robots_that_learn_textbook/materials/slides/05_robot_hands_proprioception_and_touch/source_01.pdf
runs/s294_277_fall2024_robots_that_learn_textbook/materials/slides/10_reinforcement_learning_part_a/source_01.pdf
runs/s294_277_fall2024_robots_that_learn_textbook/materials/slides/11_reinforcement_learning_part_b/source_01.pdf
runs/s294_277_fall2024_robots_that_learn_textbook/lectures/10_reinforcement_learning_part_a/slides.pdf
runs/s294_277_fall2024_robots_that_learn_textbook/lectures/11_reinforcement_learning_part_b/slides.pdf
